<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>{{ title }}</title>
    <meta name="viewport" content="width = 375, initial-scale = -1">
</head>

<body style="background-color: #ffffff; font-size: 16px;">
    <center>
        <table align="center" border="0" cellpadding="0" cellspacing="0" style="height:100%; width:600px;">
            <!-- BEGIN EMAIL -->
            <tr>
                <td align="center" bgcolor="#ffffff" style="padding:30px">
                    <p style="text-align:left">Hi.<br><br>Task {{ task_title }} was {{ action }}. Use the button below to view task.
                    </p>
                    <p>
                        <a target="_blank"
                            style="text-decoration:none; background-color: black; border: black 1px solid; color: #fff; padding:10px 10px; display:block;"
                            href="{{ url }}">
                            <strong>View task</strong></a>
                    </p>
                    <p style="text-align:left">
                        If you’re having trouble with the button above, copy and paste the URL below into your web
                        browser.<br>
                    </p>
                    <p style="text-align:left">
                        {{ url }}
                    </p>
                </td>
            </tr>
            </tbody>
        </table>
    </center>
</body>

</html>